__pycache__/

.vscode/

diego_holaluz_api.py

month_from_num.py

electricity_consumption/tests/consumption_files/

.env
.env.prod

.idea

Dockerfile


/electricity_consumption/tests/test_for_createdb.py
/electricity_consumption/create_db.py
