__pycache__/
.pytest_cache/
/tests/.pytest_cache
/src/electricity_consumption/.pytest_cache

.vscode/

diego_holaluz_api.py

month_from_num.py

tests/consumption_files/

.env
.env.prod
/grafana/.env.prod

.idea

.coverage

/tests/test_for_createdb.py
/tests/test_for_data_visualization.py
/src/electricity_consumption/create_db.py
/src/electricity_consumption/data_visualization.py

edistribucion.access
edistribucion.session
/src/electricity_consumption/edistribucion.access
/src/electricity_consumption/edistribucion.session

/data_analysis

electricityconsumption.log