__pycache__/
.pytest_cache/
/tests/.pytest_cache
/src/electricity_consumption/.pytest_cache

.vscode/

diego_holaluz_api.py

month_from_num.py

tests/consumption_files/

.env
.env.prod

.idea

Dockerfile

.coverage

/tests/test_for_createdb.py
/src/electricity_consumption/create_db.py

credentials.py
edistribucion.access
edistribucion.session
/src/electricity_consumption/edistribucion.access
/src/electricity_consumption/edistribucion.session